.button {
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.46px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;

    &.red {
        background: #D00E46;

        &, * {
            color: #fff;
        }

        .loader-small {
            .lds-spinner div:after {
                background: #fff !important;
            }
        }
    }

    &.black {
        background: #393649;

        &, * {
            color: #fff;
        }

        .loader-small {
            .lds-spinner div:after {
                background: #fff !important;
            }
        }
    }

    &.gray {
        background: #F0F0F0;

        &, * {
            color: #000000;
        }

        .loader-small {
            .lds-spinner div:after {
                background: #000000 !important;
            }
        }
    }


    &.outline {
        border: 1px solid #393649;
        background: transparent;
        color: #393649;
        font-weight: 500;
        font-size: 18px;
    }
    &.secondary {
        background: #6c757d;
        border: 1px solid #6c757d;

        &, * {
            color: #fff;
        }

    }

    &.danger {
        background: #dc3545;
        border: 1px solid #dc3545;

        &, * {
            color: #fff;
        }

    }

    &, * {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &:disabled {
        cursor: default;
    }
}