.header {
    padding: 10px 0;

    .container,
    &__container,
    &_nav {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__container {
        justify-content: space-between;
    }

    &_nav {
        gap: 6px;
        margin-left: 12px;

        li {
            &.hidden {
                display: none;
            }
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px;
            text-align: center;

            &.active {
                color: #D00E46;
            }
        }
    }
}